body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'PingFang SC', Arial, sans-serif;
  font-size: 12px;
}

html,
body,
#app {
  height: 100%;
}

li {
  list-style: none;
}
.tableWrap{
    width:100%;
    margin-top:20px;
}

.el-table thead th{
  background: #f5f7fa;
}

.sz-search-box {
    position: relative;
    padding-right: 100px;
}
.sz-search-box>li{
    display: flex;
    align-items: center;
}
.sz-search-box>li label{
    margin-right: 5px;
}
.sz-search-box>li:last-child {
     position: absolute;
     right: 0;
     top: 50%;
     margin-top: -16px;
     margin-right: 0;
 }
