body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'PingFang SC', Arial, sans-serif;
  font-size: 12px;
}

html,
body,
#app {
  height: 100%;
}

li {
  list-style: none;
}
.tableWrap{
    width:100%;
    margin-top:20px;
}

.el-table thead th{
  background: #f5f7fa;
}

.sz-search-box {
    position: relative;
    padding-right: 100px;
    display: flex;
    align-items: center;
}
.sz-search-box>li{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.sz-search-box>li label{
    margin-right: 5px;
    color:#606266;
    white-space: nowrap;
}
.sz-search-box>li:last-child {
     position: absolute;
     right: 0;
     top: 50%;
     margin-top: -16px;
     margin-right: 0;
 }

@font-face {
    font-family: 'iconfont';  /* project id 1956980 */
    src: url('//at.alicdn.com/t/font_1956980_dlurgz1jr28.eot');
    src: url('//at.alicdn.com/t/font_1956980_dlurgz1jr28.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1956980_dlurgz1jr28.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1956980_dlurgz1jr28.woff') format('woff'),
    url('//at.alicdn.com/t/font_1956980_dlurgz1jr28.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1956980_dlurgz1jr28.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


